<SynchronousCommand wcm:action="add">
    <Order>1</Order>
    <CommandLine>powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "Enable-PSRemoting -Force; New-NetFirewallRule -DisplayName 'DeployCore WinRM' -Direction Inbound -Protocol TCP -LocalPort 5985 -Action Allow"</CommandLine>
    <Description>Enable WinRM for post-install configuration</Description>
</SynchronousCommand>
{% if template.custom_admin_enabled %}
<SynchronousCommand wcm:action="add">
    <Order>2</Order>
    <CommandLine>powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "New-ItemProperty -Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System' -Name LocalAccountTokenFilterPolicy -PropertyType DWord -Value 1 -Force"</CommandLine>
    <Description>Allow custom admin full WinRM token</Description>
</SynchronousCommand>
{% endif %}
<SynchronousCommand wcm:action="add">
    <Order>3</Order>
    <CommandLine>powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "Invoke-WebRequest -Uri '{{ callback_base_url }}/api/callback/{{ deployment.callback_token }}' -Method POST -UseBasicParsing"</CommandLine>
    <Description>Notify DeployCore that OS install is complete</Description>
</SynchronousCommand>
{% if template.custom_admin_enabled %}
<SynchronousCommand wcm:action="add">
    <Order>4</Order>
    <CommandLine>powershell.exe -NoProfile -ExecutionPolicy Bypass -Command "Disable-LocalUser -Name 'Administrator'"</CommandLine>
    <Description>Disable built-in Administrator account</Description>
</SynchronousCommand>
{% endif %}
