<RunSynchronousCommand wcm:action="add">
    <Description>Start and configure the WinRM listener</Description>
    <Order>1</Order>
    <Path>cmd.exe /c winrm.cmd quickconfig -quiet</Path>
</RunSynchronousCommand>
<RunSynchronousCommand wcm:action="add">
    <Description>Open the firewall for WinRM</Description>
    <Order>2</Order>
    <Path>netsh.exe advfirewall firewall add rule name="DeployCore WinRM" dir=in action=allow protocol=TCP localport=5985</Path>
</RunSynchronousCommand>
{% if template.custom_admin_enabled %}
<RunSynchronousCommand wcm:action="add">
    <Description>Let a non-built-in local administrator authenticate over WinRM with a full token</Description>
    <Order>3</Order>
    <Path>reg.exe add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System" /v LocalAccountTokenFilterPolicy /t REG_DWORD /d 1 /f</Path>
</RunSynchronousCommand>
{% endif %}
