<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend">
    <settings pass="windowsPE">
        <component name="Microsoft-Windows-International-Core-WinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <SetupUILanguage>
                <UILanguage>{{ template.locale }}</UILanguage>
            </SetupUILanguage>
            <InputLocale>{{ input_locale }}</InputLocale>
            <SystemLocale>{{ template.locale }}</SystemLocale>
            <UILanguage>{{ template.locale }}</UILanguage>
            <UILanguageFallback>{{ template.locale }}</UILanguageFallback>
            <UserLocale>{{ template.locale }}</UserLocale>
        </component>
        <component name="Microsoft-Windows-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <DiskConfiguration>
{% include "_disk_configuration.xml.j2" %}
            </DiskConfiguration>
            <ImageInstall>
                <OSImage>
                    <InstallFrom>
                        <MetaData wcm:action="add">
                            <Key>/IMAGE/INDEX</Key>
                            <Value>{{ template.image_index }}</Value>
                        </MetaData>
                    </InstallFrom>
                    <InstallTo>
                        <DiskID>0</DiskID>
                        <PartitionID>{{ 4 if disk_layout.layout_json.recovery_size_mb else 3 }}</PartitionID>
                    </InstallTo>
                </OSImage>
            </ImageInstall>
            <UserData>
                <AcceptEula>true</AcceptEula>
            </UserData>
        </component>
    </settings>
    <settings pass="specialize">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <ComputerName>{{ deployment.hostname }}</ComputerName>
            <TimeZone>{{ template.timezone }}</TimeZone>
        </component>
        <component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <InputLocale>{{ input_locale }}</InputLocale>
            <SystemLocale>{{ template.locale }}</SystemLocale>
            <UILanguage>{{ template.locale }}</UILanguage>
            <UserLocale>{{ template.locale }}</UserLocale>
        </component>
        <component name="Microsoft-Windows-Deployment" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <RunSynchronous>
{% include "_specialize_enable_winrm.xml.j2" %}
            </RunSynchronous>
        </component>
{% if deployment.ip_mode == "static" and deployment.static_ip and static_prefix %}
{% include "_static_network.xml.j2" %}
{% endif %}
{% if template.domain_join_enabled and template.domain_join_timing == "answer_file" %}
{% include "_domain_join.xml.j2" %}
{% endif %}
    </settings>
    <settings pass="oobeSystem">
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
            <UserAccounts>
                <AdministratorPassword>
                    <Value>{{ template.local_admin_password }}</Value>
                    <PlainText>true</PlainText>
                </AdministratorPassword>
{% if template.custom_admin_enabled %}
                <LocalAccounts>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>{{ template.local_admin_password }}</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <Description>Local administrator (managed by DeployCore)</Description>
                        <DisplayName>{{ template.local_admin_username }}</DisplayName>
                        <Group>Administrators</Group>
                        <Name>{{ template.local_admin_username }}</Name>
                    </LocalAccount>
                </LocalAccounts>
{% endif %}
            </UserAccounts>
            <OOBE>
                <HideEULAPage>true</HideEULAPage>
                <HideLocalAccountScreen>true</HideLocalAccountScreen>
                <HideOnlineAccountScreens>true</HideOnlineAccountScreens>
                <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
                <SkipMachineOOBE>true</SkipMachineOOBE>
                <SkipUserOOBE>true</SkipUserOOBE>
            </OOBE>
            <FirstLogonCommands>
{% include "_first_logon_commands.xml.j2" %}
            </FirstLogonCommands>
        </component>
    </settings>
</unattend>
